<h1> Available Flights </h1>

<% if !@hot_trips.empty? %>
<h2>Bring Suntan Lotion (85° and up)</h2>
  <section class="hot-trips">
    <%= render partial: 'flight_partial', collection: @hot_trips, as: :trip %>
  </section>
<% end %>

<% if !@warm_trips.empty? %>
<h2>Bust Out the Sandles (70° to 84°)</h2>
  <section class="warm-trips">
    <%= render partial: 'flight_partial', collection: @warm_trips, as: :trip %>
  </section>
<% end %>

<% if !@cool_trips.empty? %>
<h2>Sweater Weather (50° to 69°)</h2>
  <section class="cool-trips">
    <%= render partial: 'flight_partial', collection: @cool_trips, as: :trip %>
  </section>
<% end %>

<% if !@cold_trips.empty? %>
<h2>Build a Snowman (below 50°)</h2>
  <section class="cold-trips">
    <%= render partial: 'flight_partial', collection: @cold_trips, as: :trip %>
  </section>
<% end %>

<p>*Degrees are in fahrenheit</p>