/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

@font-face {
  font-family: 'OstrichCustom';
  src: url("OstrichSansInline-Regular.otf");
  font-family: 'SciFlyCustom';
  src: url("SciFly-San.ttf");
}

$mylogo-blue: #81dee4;
$mylogo-green: #93d669;
$mylogo-red: #ec635d;
$mylogo-yellow: #f9df6f;
$mylogo-dark-grey: #8f8f8f;
$mybackground-page-grey: #7d7d76;
$mybox-cream: #ccc2ab;
$mystandard-font-family: 'SciFlyCustom'



h1 {
  font-family: 'OstrichCustom';

}

html {
  background-image: url("background.jpg");
  background-size: 1000px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow: auto;
}

h3 {
  font-size: 23;
}
