/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

@font-face {
  font-family: 'OstrichCustom';
  src: url("OstrichSansInline-Regular.otf");
  font-family: 'SciFlyCustom';
  src: url("SciFly-San.ttf");
}

$mylogo-blue: #81dee4;
$mylogo-green: #93d669;
$mylogo-red: #ec635d;
$mylogo-yellow: #f9df6f;
$mylogo-dark-grey: #8f8f8f;
$mybackground-page-grey: #7d7d76;
$myborder-blackish: #414040;
$mybox-cream: #ccc2ab;
$mystandard-font-family: 'SciFlyCustom';

.show-page{
  margin-top: 0em;
  opacity: 92%;
}

// p {
//   font-family: $mystandard-font-family;
// }

.explore-accomidations{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
  align-content: stretch;
}

.TripAirbnb{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 50px;
    max-width: 50%;
    height: auto;
    align-content: center;
    transform: translate(61px, 0%);
}

.TripHotels{
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 50px;
    max-width: 43%;
    height: auto;
    transform: translate(78px, 0%);
}

.title-show{
  background: $mybox-cream;
  border-style: solid;
  border-color: $myborder-blackish;
  border-width: 0.25em;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 0em;
  border-radius: 25px;
  box-shadow: 2px 5px #363631;
}

.show-title{
  font-family: 'OstrichCustom';
}

.flights{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
  align-content: stretch;
}

.flight-details-show{
  display:flex;
  flex-direction: column;
  background: $mybox-cream;
  border-style: solid;
  border-color: $myborder-blackish;
  border-width: 0.25em;
  text-align: center;
  border-radius: 25px;
  box-shadow: 2px 5px #363631;
}

.weather{
  display:flex;
  flex-direction: column;
  background: $mybox-cream;
  border-style: solid;
  border-color: $myborder-blackish;
  border-width: 0.25em;
  text-align: center;
  border-radius: 25px;
  box-shadow: 2px 5px #363631;
  margin-top: 2em;
}

.origin{
  padding-top: 35px;
}

.destination{
  padding-top: 35px;
}

.trip-dest-show{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
  align-content: stretch;
  margin: 42px;
}

.plane-image{
  max-height: 100%;
  max-width: 100%;
}

.trip-dest-show div.TripOrigin{
  float: left;
  width: 33.3%;
}
.trip-dest-show div.TripDestination{
  float: left;
  width: 33.3%;
}
.trip-dest-show div.image{
  float: left;
  width: 33.3%;
}

.trip-dest-show:after{
  content:"";
  display:table;
  clear:both
}


h1 {
  font-family: 'OstrichCustom';
}

body {
  background-image: url("background.jpg");
  background-size: contain;
  background-color: $mybackground-page-grey;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}


h3 {
  font-size: 23;
}

#planeBackground {
  width: 800px;
  position: relative;
  margin: auto;
}
#planeImage {
  position: absolute;
  left: 125px;
  bottom: 17px;
}
.rotated {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
