/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

@font-face {
  font-family: 'OstrichCustom';
  src: url("OstrichSansInline-Regular.otf");
  font-family: 'SciFlyCustom';
  src: url("SciFly-San.ttf");
}

$mylogo-blue: #81dee4;
$mylogo-green: #93d669;
$mylogo-red: #ec635d;
$mylogo-yellow: #f9df6f;
$mylogo-dark-grey: #8f8f8f;
$mylogo-blackish: #424040;
$mybackground-page-grey: #7d7d76;
$myborder-blackish: #414040;
$mybox-cream: #ccc2ab;
$mystandard-font-family: 'SciFlyCustom';
$mybox-white: #fdfffc;

.show-page{
  margin-top: 0em;
  opacity: 92%;
}

.explore-accomidations{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
  align-content: stretch;
}

.TripAirbnb-container{
  width:50%;
}
.TripHotels-container{
  width:50%;
}

.TripAirbnb{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 50px;
    max-width: 50%;
    height: auto;
    align-content: center;
    transform: translate(100px, 0%);
}

.TripHotels{
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 50px;
    max-width: 38%;
    height: auto;
    transform: translate(120px, 0%);
}

.title-show{
  background: $mybox-cream;
  border-style: solid;
  border-color: $myborder-blackish;
  border-width: 0.25em;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 0em;
  border-radius: 25px;
  box-shadow: 2px 5px #363631;
}

.show-title{
  font-family: 'OstrichCustom';
}

.flights{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
  align-content: stretch;
}

.flight-details-show{
  display:flex;
  flex-direction: column;
  background: $mybox-cream;
  border-style: solid;
  border-color: $myborder-blackish;
  border-width: 0.25em;
  text-align: center;
  border-radius: 25px;
  box-shadow: 2px 5px #363631;
}

.weather{
  display:flex;
  flex-direction: row;
  background: $mybox-cream;
  border-style: solid;
  border-color: $myborder-blackish;
  border-width: 0.25em;
  text-align: center;
  border-radius: 25px;
  box-shadow: 2px 5px #363631;
  margin-top: 2em;
}

.weather-image{
  position: relative;
  color: black;
}

.weather-icon{
  max-width: 100%;
  max-height: 100%;
  border-radius: 50px;
  padding: 5px
}

.weather-temp{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.weather-temp p{
  margin: -5px;
  font-size: small;
  width: 100px;
  opacity: 50%;
}

.origin{
  padding-top: 35px;
}

.destination{
  padding-top: 35px;
}

.trip-dest-show{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
  align-content: stretch;
  margin: 42px;
}

.plane-image{
  max-height: 100%;
  max-width: 100%;
}

.trip-dest-show div.TripOrigin{
  float: left;
  width: 33.3%;
}
.trip-dest-show div.TripDestination{
  float: left;
  width: 33.3%;
}
.trip-dest-show div.image{
  float: left;
  width: 33.3%;
}

.trip-dest-show:after{
  content:"";
  display:table;
  clear:both
}


h1 {
  font-family: 'OstrichCustom';
}

body {
  background-image: url("background.jpg");
  background-size: contain;
  background-color: $mybackground-page-grey;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

h3 {
  font-size: 23;
}

#planeBackground {
  width: 800px;
  position: relative;
  margin: auto;
}
#planeImage {
  position: absolute;
  left: 125px;
  bottom: 17px;
}
.rotated {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.temperature-box {
  background: $mybox-cream;
  margin: 20px;
  padding: 2%;
  border-radius: 30px;
  opacity: 92%;
  border: 10px solid $mylogo-blackish;
}

.trip-info-table {
  font-size: x-large;
  text-align: center;
  background: $mylogo-green;
  border: 10px solid $mylogo-blackish;
  border-radius: 25px;
  padding: 50px;
  margin: 25px;
  width: 700px;
}

.DestinationCity {
  font-size: xx-large;
  font-style: bold;
}

.flight-index-header {
  background: $mybox-white;
  margin: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  border: 10px solid $mylogo-blackish;
  border-radius: 10px;
  opacity: 92%;
}

.flight-index-header-box {
  background: $mylogo-blue;
  margin: 10px;
  padding: 10px;
  border: 10px solid $mylogo-blackish;
  opacity: 92%;
  text-align: center;
  border-radius: 10px;
}

.flight-index-header-big-box {
  background: $mylogo-red;
  margin: 10px;
  padding: 10px;
  border: 10px solid $mylogo-blackish;
  opacity: 92%;
  text-align: center;
  border-radius: 10px;
}

.flight-index-header-biggest-box {
  background: $mybox-cream;
  margin: 10px;
  padding: 10px;
  border: 10px solid $mylogo-blackish;
  opacity: 92%;
  text-align: center;
  border-radius: 10px;
}

.temp-box-header {
  background: $mybox-white;
  margin: 20px;
  padding: 2%;
  border: 5px solid $mylogo-blackish;
  border-radius: 5%;
  opacity: 92%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.weather-text {
  font-size: medium;
}

.temp-image {
  background: $mylogo-red;
  margin: 10px;
  padding: 10px;
  border: 5px solid $mylogo-blackish;
  border-radius: 5%;
  opacity: 92%;
  text-align: center;
}

.trip-column-name {
  background: $mylogo-blue;
  margin: 10px;
  padding: 10px;
  border: 5px solid $mylogo-blackish;
  opacity: 92%;
  text-align: center;
  border-radius: 25px;
}

.trip-table-info {
  background: $mylogo-yellow;
  margin: 10px;
  padding: 10px;
  border: 5px solid $mylogo-blackish;
  opacity: 92%;
  text-align: center;
}

.weather-image-box {
  background: $mybox-white;
  margin: 10px;
  border: 5px solid $mylogo-blackish;
  opacity: 92%;
  text-align: center;
}

.trip-table-separator {
  background: $mylogo-red;
  margin: 10px;
  padding: 10px;
  border: 5px solid $mylogo-blackish;
  opacity: 92%;
  text-align: center;
  border-radius: 10px;
}

.such-a-big-box {
  background: $mylogo-green;
  margin: 10px;
  padding: 10px;
  border: 5px solid $mylogo-blackish;
  opacity: 92%;
  text-align: center;
  border-radius: 10px;
}

.temp-box {
  background: $mylogo-blue;
  margin: 10px;
  padding: 10px;
  border: 5px solid $mylogo-blackish;
  opacity: 92%;
  text-align: center;
  border-radius: 10px;
}


.myButton {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
  text-shadow:0px 1px 0px #e1e2ed;
  opacity: 100%;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}
.navbar-header {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
  align-content: stretch;
}

.home-link {
  align-content: flex-start;
}

.oauth-link {
  align-content: flex-end;
}

.flash-messages {
  background: $mybox-cream;
  margin: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid $mylogo-blackish;
  border-radius: 10px;
  opacity: 92%;
  font-size: x-large;
  text-align: center;
}
